@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body,
header {
    margin: 0;
}
body{
    height: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
}

header a {
    font-size: 22px;
    color: #adadae;
    text-decoration: none;
    transition: all 0.3s;
}

header{
    height: 150px;
    width: 100%;
    background-color: #101136;
}
.header_container{
    height:100%;
    width: 75%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerimg {
    width: 120px;
    height: 90px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

.fah {
    margin-right: 40px;
}

header a:hover{
    color:#7db3c3;
}
header a:active {
    color: white;
}
.nowopen {
    color: white;
}
main {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #323649;
}

section {
    padding-bottom: 50px;
}

main .container {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container_h {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
h1,
p {
    color: white;
}

h1 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 45px;
}
.group{
    width:300px;
}
.label{
    font-size: 18px;
    display: block;
    background: linear-gradient(to bottom, #264b89, #2c324f);
    width:170px;
    height:20px;
    border-radius: 100% 0% 100% 0% / 17% 80% 20% 83% ;
    padding: 10px;
    margin: 15px auto;
    text-align: center;
}
.hesh {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.block {
    width: 130px;
    height: 130px;
    border: 3px solid #475465;
    border-radius: 8px;
    background-color: #616e81;
    box-shadow: 0 0 15px #444e5c;
    animation: change_size 5s infinite linear;
    transition: all 0.3s;
    margin: auto;
}
@keyframes change_size {
    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        width: 130px;
        height: 130px;
    }
}
.description {
    font-size: 15px;
    color: black;
    padding: 15px;
    font-weight: 900;
    margin: 0;
}
.info {
    width: 200px;
    height: 230px;
    background-color: white;
    border: 5px solid #475465;
    border-radius: 13px;
    background-size: cover;
    opacity: 0;
    margin: 30px auto;
    transition: all 0.5s;
}
.block:hover{
    transform: scale(1.2);
    animation: none;
}
.gen_block:hover ~ .first{
    opacity: 1;
}
.second_block:hover ~ .second{
    opacity: 1;
}
.chain{
    margin-top: 16%;
}
footer {
    width: 100%;
    background-color: #101136;
}

footer .container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

footer p {
    color: white;
    font-size: 20px;
    width: 25%;
    height: 70%;
}

.inst {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.vk {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.cont {
    width: 20%;
    height: 70%;
}

.cont p {
    height: 20%;
    width: 100%;
    text-align: center;
}

.soc {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 10px;
    margin: auto;
}
